engine-strict=true
registry=https://registry.npmjs.org
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*loader*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=@esmx*
public-hoist-pattern[]=!@esmx/lint
public-hoist-pattern[]=@std*
public-hoist-pattern[]=*-loader*
public-hoist-pattern[]=webpack-*
