:root {
    --rp-c-brand: #12b2ef;
    --rp-c-brand-light: #5bcbf5;
    --rp-c-brand-lighter: #e8f7fe;
    --rp-c-brand-dark: #0e8ec0;
    --rp-c-brand-darker: #0b739e;
    --rp-c-brand-tint: rgba(18, 178, 239, 0.16);
    --rp-container-info-border: #12b2ef33;
    --rp-container-info-text: #0e8ec0;
    --rp-container-info-bg: #12b2ef0f;
    --rp-container-info-code-bg: #12b2ef1a;
    --rp-container-warning-border: #ffa00066;
    --rp-container-warning-text: #cc8100;
    --rp-container-warning-bg: #ffa0001a;
    --rp-container-warning-code-bg: #ffa0001a;
}
.rspress-logo {
    width: 48px;
    height: 48px;
}
@media (max-width: 640px) {
    .rspress-logo {
        width: 40px;
        height: 40px;
    }
}
