:root {
    --rp-c-brand: #ffc107;
    --rp-c-brand-light: #ffe082;
    --rp-c-brand-lighter: #fff3e0;
    --rp-c-brand-dark: #ffa000;
    --rp-c-brand-darker: #ff8f00;
    --rp-c-brand-tint: rgba(255, 193, 7, 0.16);
}
.rspress-logo {
    width: 48px;
    height: 48px;
}
